		  <div class="three columns">
                <div class="sitename"> <a href="/"><h4> {{ .Site.Title }} </h4> </a></div>
      			<div class="menu">
				    {{ range .Site.Menus.main }}
                    <div class="menuentry">{{ .Pre }}
                        <a href="{{ .URL }}">{{ .Name }}</a></div>
                        {{ if .HasChildren }}
                            {{ range .Children }}
                                <div class="menuentry">...{{ .Pre }}<a href="{{ .URL }}">{{ .Name }}</a></div>
                            {{ end }}

                         {{ end }}
				    {{ end }}
				    <!-- light/dark mode toggle
                        <div class="menuentry"><a href=""></a></div> 
                    -->
                    <div class="menuheader">
                        <br>
                    </div>
                    <div class="menuentry">
                        <i class="fa fa-fw fa-at"> </i>
                        {{ partial "cloakemail" (dict "address" .Site.Params.email) }}
                    </div>
                    <div class="menuentry">
                        <i class="fa fa-fw fa-instagram"></i>
                        <a href="{{ .Site.Params.instagramlink }}">{{ .Site.Params.instagramhandle }}</a>
                    </div>
                    <div class="menuentry">
                        <i class="fa fa-fw fa-etsy"></i>
                        <a href="{{ .Site.Params.etsy }}">Shop</a>
                    </div>
<!--
                    <div class="menuentry">
                        <i class="fa fa-fw fa-github"></i>
                        <a href="{{ .Site.Params.github }}">Code</a>
                    </div>
-->
      			</div>
		</div>







