
{{ define "main" }}

  <div class="twelve columns">
    {{ range .Sections.ByWeight }}
        <div>
            <h4> <a href="{{ .CurrentSection.RelPermalink }}">{{ .Title }}</a></h4>
		</div>
		<div>
            {{ range  .Pages }} <!-- no recursive galleries -->
            		<a class="summary" href="{{ .RelPermalink }}">

                        {{ $res := resources.Get .Params.image | default ""}}
                        {{ if $res }}
                            {{ $res := $res.Fill "120x120 Center" }}
                            <img src="{{ $res.RelPermalink }}" alt="{{ .Params.alt }}" width=120 heigh=120>
                        {{ end }}
                    </a>
                    <!-- {{ .LinkTitle }} -->
                {{ end }}
		</div>
        <div class="twelve columns galleryseparator">
        </div>
    {{ end }}
  </div>
{{ end }}

