
{{ define "main" }}

<section>
  <div>
    {{ range .Sections.ByWeight }}
        <div>
            <h4> <a href="">{{ .Title }}</a></h4>
		</div>
		<div>
            {{ range  .Pages }} <!-- no recursive galleries -->
            		<a class="summary" href="{{ .RelPermalink }}">

                        {{ $res := resources.Get .Params.image | default ""}}
                        {{ if $res }}
                            {{ $res := $res.Fill "200x200 Center" }}
                            <img src="{{ $res.RelPermalink }}" alt="{{ .Params.alt }}" width=200 heigh=200>
                        {{ end }}
                    </a>
                    <!-- {{ .LinkTitle }} -->
                {{ end }}
		</div>
    {{ end }}
  </div>
</section>
{{ end }}
