{{ define "main" }}
<h4>{{ .Title }}</h4>

<div>
{{ with .CurrentSection }}
  <a href="{{ .Permalink }}">Up to gallery</a>
{{ end }}

{{ with .PrevInSection }}
  <a href="{{ .Permalink }}">Next</a>
{{ end }}

{{ with .NextInSection }}
  <a href="{{ .Permalink }}">Prev</a>
{{ end }}
</div>

{{ $res := resources.Get .Params.image }}
{{ $res := $res.Resize "550x" }}
<img src="{{ $res.RelPermalink }}" width=550px alt="{{ .Params.alt }}">
<div>
    Year: {{ .Params.year }}
</div>
<div>
    Media: {{ .Params.media }}
</div>
<div>
    Dimensions: {{ .Params.dimensions }}
</div>
<div>
    {{ .Params.description }}
</div>
<br><br>
{{ .Content }}

{{ end }}
