/* dark theme */


:root {
      --coltext: rgb(255, 255, 255);
      --colneutral: rgb(255, 255, 255);
      --colmain: rgb(255, 255, 255);
      --colaccent: rgb(255, 255, 255);
      --colbackground: rgb(12, 12, 12);
    }
