
/*
 * Site specific styling
*/


:root {
    color-scheme: light dark;
}

/* Links
 ******************************************************************************/
a:link, a:visited {
    color: var(--colmain);
    text-decoration: none;
}

a:hover, a:active {
    color: var(--colmain);
}

input {
    color: var(--colmain);
}

body {
    background-color: var(--colbackground);
    color: var(--coltext);
}

